body{
    background-color:white;color:black;
    /* margin:-8px;min-width: 550px;padding-bottom: 100px; */overflow-x: hidden;
    display: block;min-height: 520px;
}
/* --------NavigationBar----------- */
.nav{
    position: fixed;left:0;right:0;top:0;padding:10px;z-index: 2;
    font-size: 1.5em;background-color:lightgreen;color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 1px 8px 0px black;width:100%;
}
#nav-title,#nav-search{
    margin-left:4%;
}
#nav-user{
    float:right;margin-right:5%;
}
#search{
    width:300px;height: 30px;border: none;outline: none;
}
/* --------------Body--------------- */
.container{
    position: absolute;top:60px;left:0;right:0;bottom:0;
    display: block;
}
.container-body{
    display: flex;flex:1;flex-direction: row;
}
.container-nav{
    position: sticky;top:8%;background-color: lightgreen;
    /* margin:-25px 0 0 0; */
}
.container-items{
    display: flex;flex-wrap: wrap;justify-content:space-around

}
.side_items{
    color:black;margin:8px;
}
.search_icon{
    font-size: 0.8em;
}
.label{
    font-size:1.2em;text-align: center;color:black;justify-content: center;
    display: flex;overflow-wrap: break-word;width: 200px;
}
.books{
    border:1px solid black;
    /* box-shadow: 3px 1px 10px 1px rgb(255, 255, 255); */
}
.heading-sm{
    text-align: center;font-size: 1.2em;color:lightgreen;
}
@media only screen and (max-width:767px){
    body{
        font-size:0.9em;
    }
    #search{
        width:125px;
    }
}